.counter button {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: rgb(132, 136, 132);
}

.counter button:hover {
  background-color: rgb(170, 31, 77);
  transition: 0.7s;
}
